<!--Created by Devon Embry and Blake Jones-->

<!DOCTYPE html>
<html>

	<head>
		<title>Profile Update</title>
		<link rel="stylesheet" href="{{url_for('static', filename='celebs_stylesheet.css')}}"/>
	</head>
	
	<body class="center">
		
		<form action="" method="post">
		
			<fieldset>
			
				<legend>Profile Information:</legend>
				
				<p>Please <b>update</b> your profile informationon the following form<br>
				<i>All fields are required and must contain valid information</i></p>
				{% if success %}
				<p><strong>Your profile has been updated successfully!</strong><br>
				{% endif %}
				
				<a class="button" href="{{url_for('view_all', thememberID=thememberID)}}">Click to view all of celebrities!</a>
				<a class="button" href="{{url_for('view_one', thememberID=thememberID, thecelebID=1)}}">Click to view a specific celebrity!</a><br><br>

				
				<table>
					
					<tr>
					
						<td>Member ID:</td>
						<td><input type="integer" name="memberID" value="{{memberID}}" readonly /></td>
					
					</tr>
					
					<tr>
					
						<td>First Name:</td>
						<td><input type="text" name="firstname" value="{{firstname}}"/></td>
						
					</tr>
					
					<tr>
					
						<td>Last Name:</td>
						<td><input type="text" name="lastname" value="{{lastname}}"/></td>
						
					</tr>
					
					<tr>
					
						<td>Age:</td>
						<td><input type="text" name="age" value="{{age}}"/></td>
						
					</tr>
					
					<tr>
					
						<td>Email:</td>
						<td style="italic"><input type="text" name="email" value="{{email}}"/> e.g. user@domain.com</td>
						
					</tr>
					
					<tr>
					
						<td><img src="{{picurl}}" width="110" height="130"></td>
						<td><textarea name="bio" rows=4 cols=50>{{bio}}</textarea></td>
						
					</tr>
					
					<tr>
					
						<td style="border: 0px"><input type="submit" value="Click to Update"/></td>
						
					</tr>
					
				</table>
				
			</fieldset>
			
		</form>
		
	</body>

</html>
