<!--Created by Devon Embry and Blake Jones-->

<html>
	<head>
		<title>Celebrities</title>
		<link rel="stylesheet" href="{{url_for('static', filename='celebs_stylesheet.css')}}"/>
	</head>
	
	<body class="center">
		<div class="center1">
			<h1>Welcome to our list of Celebrities!</h1>
			<a class="button" href="{{url_for('info', thememberID=thememberID)}}">Click to go back to your profile!</a>
			<p><strong>Click the pictures to go to individual pages.</strong></p>
		</div>
		{% for row in rows %}
		<table border=5>
			<tr>
				<td>Photo:</td>
				<td><a title="Click me to go to individual page!" href="{{url_for('view_one', thememberID=thememberID, thecelebID=row[0])}}"><img height="256" width="256" src="{{row[5]}}"/></a></td>
			</tr>
			<tr>
				<td>Celebrity ID:</td>
				<td>{{row[0]}}</td>
			</tr>
			<tr>
				<td>First Name:</td>
				<td>{{row[1]}}</td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td>{{row[2]}}</td>
			</tr>
			<tr>
				<td>Age:</td>
				<td>{{row[3]}}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{row[4]}}</td>
			</tr>
			<tr>
				<td>Bio:</td>
				<td>{{row[6]}}</td>
			</tr>
			<br>
		</table>
		{% endfor %}
	</body>
<html>